<div class="container-fluid">
  <h3>Tabela de Tarefas</h3>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Tarefa</th>
      <th>Concluída</th>
      <th class="text-center">
        <a class="btn btn-xs btn-success" [routerLink]="['/cadastrar-tarefas']">
          <span style="color: white">Novo</span>
        </a>
      </th>
    </tr>
    <tr *ngFor="let tarefa of tarefas">
      <td [class.sucess]="!tarefa.concluida">
        {{ tarefa.nome }}
      </td>
      <td style="width: 70px" class="text-center">
        <input type="checkbox" style="cursor: pointer;" [value]="tarefa.id" [checked]="tarefa.concluida">
      </td>
      <td class="text-center" style="width: 200px">
        <a title="Editar" alt="Editar" class="btn btn-xs btn-info" style="margin-right: 5px">
          <span style="color: white" [routerLink]="['/editar-tarefas/'+tarefa.id]">Editar</span>
        </a>
        <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger">
          Remover
        </a>
      </td>
    </tr>
  </table>

  <p *ngIf="tarefas.length == 0">Nenhuma tarefa cadastrada.</p>

</div>

